.vscode/
.vagrant/

*WSL*

*.o
*.o.d
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.cmd

out/
keys/

_*

client/client
test/t1/pause
test/t1/stress_test
_syst.h

!hook/discover/lib/*
hook/discover/lib/.*

checkpatch.pl
spelling.txt
const_structs.checkpatch