.vscode/
.vagrant/

*WSL*

*.o
*.o.d
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.cmd

out/
keys/

_*

client/client
test/t1/stress_test
test/t2/mon_prog_test
test/t2/mon_euid_test
test/t2/unmon_prog_test
test/t2/unmon_euid_test
test/t3/pause
_syst.h

!hook/discover/lib/*
hook/discover/lib/.*
hook/discover/lib/vtpmo.o

checkpatch.pl
spelling.txt
const_structs.checkpatch
