name: System Call Throttling Kernel Module Static Analysis

on: [push, pull_request]

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential linux-headers-$(uname -r) cppcheck sparse libncurses-dev

      - name: Setup Checkpatch
        run: |
          wget https://raw.githubusercontent.com/torvalds/linux/master/scripts/checkpatch.pl
          chmod +x checkpatch.pl

      - name: Run Check
        run: |
          make setup
          make check
        continue-on-error: true
